{{#shapes}}
  .{{#selector.shape}}{{expression}}{{/selector.shape}} {
    $icons: map-merge($icons, (
      {{#selector.shape}}{{expression}}{{/selector.shape}}: ({{height.outer}} / {{width.outer}}),
    )) !global;
    width: {{width.outer}}px;

    &:before {
      padding-top: map-get($icons, {{#selector.shape}}{{expression}}{{/selector.shape}}) * 100%;
    }
  }
{{/shapes}}
